/* line 3, ../sass/style.scss */
.container {
  border: 1px solid #000;
  padding-bottom: 2em;
  padding-top: 2em;
  margin: 2em auto;
}

/* line 10, ../sass/style.scss */
.header {
  border-bottom: 3px solid #bfbfbf;
  margin-bottom: 1em;
}

/* line 15, ../sass/style.scss */
.filter {
  font-size: 1.4em;
}

/* line 19, ../sass/style.scss */
.plan {
  border: 1px solid #000;
}

/* line 23, ../sass/style.scss */
.footer {
  text-align: center;
  margin-top: 2em;
}
