/* line 1, ../sass/breno.scss */
.site-heading {
  text-align: center;
  font-size: 72px;
  margin: 150px 0;
}

/* line 7, ../sass/breno.scss */
.step {
  text-align: center;
}

/* line 11, ../sass/breno.scss */
.logo {
  text-align: center;
}

.new-element {
	text-align: center;
	font-size: 72px;
	margin: 40px 0;
}

.new-element p {
  text-align: center;
}

.btn .btn-default {
  text-align: center;
  background-color: #3498db
}

.more { 
	text-align: center;
	}

	.start {
  margin-top: 150px;
  text-align: center;
}

.btn .btn-default {
  text-align: center;
  background-color: #3498db

}

.information {
  margin-top: 150px;
}

.home .row { 
  margin: 100px 0;
}