
.container {
	border: 1px solid #000;
	padding-bottom: 2em;
	padding-top: 2em;
	margin: 2em auto;
}

.header {
	border-bottom: 3px solid lighten(#000, 75%);
	margin-bottom: 1em;
}

.filter {
	font-size: 1.4em;
	margin-bottom: 1em;
}

.plan {
	border: 1px solid #000;
}

.footer {
	text-align: center;
	margin-top: 2em;
}

.btn-arrow-left {
	font-size: 2em;
	left: -42px;
	position: absolute;
	top: 50%;
}

.btn-arrow-right {
	font-size: 2em;
	right: -42px;
	position: absolute;
	top: 50%;
}

.row {
	position: relative;
}

form {
	h4 {
		margin: 2em 0 0.8em;
	}
}

.personal .footer, .purchase-info .footer {
	border-top: 1px solid #000;
	padding-top: 2em;
}

.get-started {
  margin-top: 2.6em;
}

.more {
	border-top: 5px solid #dadada;
}

.overlay {
	background: rgba(0,0,0,0.8);
	display: block;
	height: 660px;
	width: 100%;
	position: absolute;
	z-index: 9;
}

.help-overlay {
	background-color: darken(#dadada, 45%);
	border: 1px solid darken(#dadada, 25%);
	color: #dadada;
	display: inline-block;
	padding: 1em;
	position: absolute;
	width: 200px;
}

.help-narrow {
	left: 600px;
	top: 25px;
}

.help-arrows {
	top: 320px;
	left: 20px;
}

.help-purchase {
	bottom: 0px;
	font-size: 1.5em;
	// left: 385px;
	right: 10px;
	width: 400px;
}

.overlay .btn {
	bottom: 20px;
	position: absolute;
	left: 540px;
}